@model FoodLabellingSystem_Service.Models.Food

<div class="container push-down box-shadow">


    <h1>Delete @Model.FoodId</h1>

    <h3>Are you sure you want to delete @Model.FoodId?</h3>
        <dl class="row justify-content-center">
            <dt class="col-lg-2 col-md-2 col-sm-2">
                @Html.DisplayNameFor(model => model.FoodId)
            </dt>
            <dd class="col-lg-2 col-md-4 col-sm-4">
                @Html.DisplayFor(model => model.FoodId)
            </dd>
        </dl>
        <dl class="row justify-content-center">
            <dt class="col-lg-2 col-md-2 col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-lg-2 col-md-4 col-sm-4">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
        <dl class="row justify-content-center">
            <dt class="col-lg-2 col-md-2 col-sm-2">
                @Html.DisplayNameFor(model => model.FoodType)
            </dt>
            <dd class="col-lg-2 col-md-4 col-sm-4">
                @Html.DisplayFor(model => model.FoodType)
            </dd>
        </dl>
        <dl class="row justify-content-center">
            <dt class="col-lg-2 col-md-2 col-sm-2">
                @Html.DisplayNameFor(model => model.CuisineType)
            </dt>
            <dd class="col-lg-2 col-md-4 col-sm-4">
                @Html.DisplayFor(model => model.CuisineType)
            </dd>
        </dl>
        <dl class="row justify-content-center">
            <dt class="col-lg-2 col-md-2 col-sm-2">
                @Html.DisplayNameFor(model => model.DishType)
            </dt>
            <dd class="col-lg-2 col-md-4 col-sm-4">
                @Html.DisplayFor(model => model.DishType)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="FoodId" />
            <div class="row justify-content-center">
                <div class="col-lg-2 col-md-3 col-sm-3 col-6">
                    <a asp-action="Index" class="btn btn-primary">Back</a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-6">
                    <input type="submit" value="Delete" class="btn btn-outline-danger float-right" />
                </div>
            </div>
        </form>
    </div>