@model FoodLabellingSystem_Service.Models.CuisineType

<div class="container push-down box-shadow">
    <h1>Details of @Model.CuisineTypeId</h1>
        <hr />
        <dl class="row justify-content-center">
            <dt class="col-lg-2 col-md-2 col-sm-2">
                @Html.DisplayNameFor(model => model.CuisineTypeId)
            </dt>
            <dd class="col-lg-2 col-md-4 col-sm-4">
                @Html.DisplayFor(model => model.CuisineTypeId)
            </dd>
        </dl>
        <dl class="row justify-content-center">
            <dt class="col-lg-2 col-md-2 col-sm-2">
                @Html.DisplayNameFor(model => model.Member)
            </dt>
            <dd class="col-lg-2 col-md-4 col-sm-4">
                @Html.DisplayFor(model => model.Member)
            </dd>
        </dl>
         <div class="row justify-content-center">
        <div class="col-lg-2 col-md-3 col-sm-3 col-6">
            <a asp-action="Index" class="btn btn-outline-secondary ">Back</a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-6">
            <a asp-action="Edit" asp-route-id="@Model.CuisineTypeId" class="btn btn-outline-primary float-right">Edit</a>
        </div>
    </div>
    </div>
   