@model FoodLabellingSystem_Service.Models.Unit

<div class="container push-down box-shadow">
    <h1>Delete @Model.UnitId</h1>
    <h3>Are you sure you want to delete @Model.UnitId?</h3>
        <hr />
        <dl class="row justify-content-center">
            <dt class="col-lg-2 col-md-2 col-sm-2">
                @Html.DisplayNameFor(model => model.UnitId)
            </dt>
            <dd class="col-lg-2 col-md-4 col-sm-4">
                @Html.DisplayFor(model => model.UnitId)
            </dd>
        </dl>
        <dl class="row justify-content-center">
            <dt class="col-lg-2 col-md-2 col-sm-2">
                @Html.DisplayNameFor(model => model.ToGram)
            </dt>
            <dd class="col-lg-2 col-md-4 col-sm-4">
                @Html.DisplayFor(model => model.ToGram)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="UnitId" />
            <div class="row justify-content-center">
                <div class="col-lg-2 col-md-3 col-sm-3 col-6">
                    <a asp-action="Index" class="btn btn-primary">Back</a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-6">
                    <input type="submit" value="Delete" class="btn btn-outline-danger float-right" />
                </div>
            </div>
        </form>
    </div>