@model FoodLabellingSystem_Service.Models.Warning

<div class="container push-down box-shadow">
    <h1>Details of @Model.WarningId</h1>
    <hr />
    <dl class="row justify-content-center">
        <dt class="col-lg-1 col-md-2 col-sm-2">
            @Html.DisplayNameFor(model => model.WarningId)
        </dt>
        <dd class="col-lg-3 col-md-4 col-sm-4">
            @Html.DisplayFor(model => model.WarningId)
        </dd>
    </dl>
    <dl class="row justify-content-center">
        <dt class="col-lg-1 col-md-2 col-sm-2">
            @Html.DisplayNameFor(model => model.WarningType)
        </dt>
        <dd class="col-lg-3 col-md-4 col-sm-4">
            @Html.DisplayFor(model => model.WarningType)
        </dd>
    </dl>

    <dl class="row justify-content-center">
        <dt class="col-lg-1 col-md-2 col-sm-2 ">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-lg-3 col-md-8 col-sm-6">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-3 col-sm-3 col-6">
            <a asp-action="Index" class="btn btn-outline-secondary ">Back</a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-6">
            <a asp-action="Edit" asp-route-id="@Model.WarningId" class="btn btn-outline-primary float-right">Edit</a>
        </div>
    </div>
</div>
