@model FoodLabellingSystem_Service.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>

<div>
    <h4>ErrorViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestId)
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QureyResult.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QureyResult.Result)
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QureyResult.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QureyResult.Message)
        </dd>
    </dl>
</div>
<p>
    You have been redirected to this page, because the request you made could not be processed further.
    Our experts are aware of your problem and will be dealing with the problem shortly.

</p>
<a class="btn btn-primary">Help Me</a>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
